<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Schedule Form</title>
    </head>
    
    <body>
        <div class="container">
            <form class="form-group">
                <div class="bg-success p-2" style="--bs-bg-opacity: .5;">
                <h1> Details</h1>
            
                <div id="form">
                    <div id="input">
                    <input type="text" id="input-group" placeholder="From">
                    <input type="text" id="input-group" placeholder="To">
                    <div><br>
                    <select id="input-group">
                        <option value="">preffered Airline</option>
                        <option value="">Indigo</option>
                        <option value="">Airindia</option>
                        <option value="">SpaceJet</option>
                    </select>
                    <select id="input-group">
                        <option value="">preffered Seating</option>
                        <option value="">BusinessClassSeats</option>
                        <option value="">Non-BusinessClassSeats</option>
                    </select>
                </div>
                    </div><br>
                    <div>
                        <input type="number" id="input-group" placeholder="Adult">
                        <input type="number" id="input-group" placeholder="Children">
                    </div><br>
                    <div>
                        <input type="number" id="input-group" placeholder="Startdatetime">
                        <input type="number" id="input-group" placeholder="Enddatetime">
                    </div><br>
                    <div>
                        <input type="number" id="input-group" placeholder="Noofrows">
                        <input type="number" id="input-group" placeholder="Ticketprice">
                    </div><br>
                    <select id="input-group">
                        <option value="">preffered Meal</option>
                        <option value="">Non-veg</option>
                        <option value="">Veg</option>
                    </select>
                </div><br>
            </div>
            </form>
            
        </div>
    </body>
</html>
